.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imgrad{
	border :solid 1px green;
	border-radius:100px;
	height:200px;
	width:200px;
	
}
.tabledesign{
	
	background-color:brown;
	text-align:center;
	padding:10px;
	color:#ffffff;
	
}

.oddrow{
	
	background-color:red;
	
}

table:hover{
	
border: solid 5px white;
border-top-color:black;
border-left-color:black;
}